<button class="btn clickable offcanvas-toogle" target="myIncavas">Side Menu</button>
<div id="myIncavas" class="incanvas">
    <button class="btn clickable offcanvas-close" target="myIncavas">Close</button>
    <div class="card card-primary">{%- include logo.html -%}</div>
    {%- for page in site.pages -%}
        {%- if page.name != "style.scss" and page.name != "/feed.xml" -%}
        <a class="btn clickable" class="active" href="{{page.url}}">{{page.name}}</a>
        {%- endif -%}
    {%- endfor -%}
</div>