<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ "/assets/css/brutal.css" | relative_url }}"> 
    <link rel="stylesheet" href="{{ "/assets/css/animation.css" | relative_url }}">
    <title>6rube</title>
    <meta name="description" content="Author: 6rube,
    Illustrator: 6rube, Category: Tech">
    <link rel="icon" type="image/png" href="{{ "/assets/ico/1.png" | relative_url }}"" sizes="32x32">
    <script src="{{ "/assets/js/fav-flash.js" | relative_url }}"></script>
</head>
