<button class="btn clickable offcanvas-toogle" target="myIncavas">Side Menu ◄</button>
<div id="myIncavas" class="incanvas">
    <button class="btn clickable offcanvas-close" target="myIncavas">Close ◄</button>

    <center class="barcode_font">{{site.time | date: "%b %d, %Y" }}</center>

    <div class="title">{%- include logo.html -%}</div>

    {%- for page in site.pages -%}
    {%- if page.name != "style.scss" and page.name != "/feed.xml" -%}
        <div style="display:grid;">
            <a class="btn clickable" class="active" style="width: 91%;" href="{{page.url}}">
                <img calss="ico" src="{{page.icon}}" alt="{{page.icon}}" style="width: 2vh; height: 2vh; vertical-align:middle"> 
                <span style="vertical-align:middle">&nbsp;{{page.name}}</span>
            </a>
        </div>
    {%- endif -%}
    {%- endfor -%}
</div>