<button class="btn clickable offcanvas-toogle" target="myIncavas">Side Menu ◄</button>
<div id="myIncavas" class="incanvas">
    <button class="btn clickable offcanvas-close" target="myIncavas">Close ◄</button>

    <div class="title">{%- include logo.html -%}</div>
    <div class="barcode_font color-primary date">{{site.time | date: "%b %d, %Y" }}</div>

    {%- for page in site.pages -%}
    {%- if page.name != "style.scss" and page.name != "/feed.xml" -%}
        <div style="display:grid;">
            <a class="btn clickable" class="active" href="{{page.url}}">
                <img class="badge" src="{{page.icon}}" alt="{{page.icon}}"> 
                <span style="vertical-align:middle">&nbsp;{{page.name}}</span>
            </a>
        </div>
    {%- endif -%}
    {%- endfor -%}
    <div class="feed"> 
        <div class="f" onclick="window.location='https://github.com/6rube'">© 2023 6rube</div> 
    </div>
</div>