
  body {
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color: #494949;
  }

  #wrapper{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.content{
    position: relative;
    z-index: 100;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100vw;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #454545;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #383838;
  top: 91%;
  left: 12%;
  animation-duration: 43s;
  animation-delay: -24s;
  transform-origin: -5vw -19vh;
  box-shadow: -40vmin 0 5.517819164997052vmin currentColor;
}
.background span:nth-child(1) {
  color: #d9d9d9;
  top: 95%;
  left: 24%;
  animation-duration: 14s;
  animation-delay: -40s;
  transform-origin: -21vw -12vh;
  box-shadow: -40vmin 0 5.745352736987209vmin currentColor;
}
.background span:nth-child(2) {
  color: #d9d9d9;
  top: 59%;
  left: 56%;
  animation-duration: 9s;
  animation-delay: -9s;
  transform-origin: -4vw 25vh;
  box-shadow: 40vmin 0 5.248231251654812vmin currentColor;
}
.background span:nth-child(3) {
  color: #d9d9d9;
  top: 31%;
  left: 61%;
  animation-duration: 33s;
  animation-delay: -2s;
  transform-origin: -6vw -5vh;
  box-shadow: 40vmin 0 5.580470521600152vmin currentColor;
}
.background span:nth-child(4) {
  color: #a3a3a3;
  top: 98%;
  left: 78%;
  animation-duration: 50s;
  animation-delay: -17s;
  transform-origin: -21vw -15vh;
  box-shadow: -40vmin 0 5.194697386002vmin currentColor;
}
.background span:nth-child(5) {
  color: #a3a3a3;
  top: 83%;
  left: 97%;
  animation-duration: 9s;
  animation-delay: -19s;
  transform-origin: -4vw -21vh;
  box-shadow: -40vmin 0 5.410084972412393vmin currentColor;
}
.background span:nth-child(6) {
  color: #d9d9d9;
  top: 13%;
  left: 38%;
  animation-duration: 27s;
  animation-delay: -16s;
  transform-origin: -18vw -2vh;
  box-shadow: 40vmin 0 5.102670943592369vmin currentColor;
}
.background span:nth-child(7) {
  color: #383838;
  top: 43%;
  left: 34%;
  animation-duration: 26s;
  animation-delay: -31s;
  transform-origin: 8vw 9vh;
  box-shadow: 40vmin 0 5.251073397477702vmin currentColor;
}
.background span:nth-child(8) {
  color: #383838;
  top: 59%;
  left: 95%;
  animation-duration: 48s;
  animation-delay: -40s;
  transform-origin: -19vw 21vh;
  box-shadow: 40vmin 0 5.072864401214515vmin currentColor;
}
.background span:nth-child(9) {
  color: #d9d9d9;
  top: 53%;
  left: 93%;
  animation-duration: 22s;
  animation-delay: -16s;
  transform-origin: 15vw -17vh;
  box-shadow: -40vmin 0 5.136205649143919vmin currentColor;
}
.background span:nth-child(10) {
  color: #a3a3a3;
  top: 12%;
  left: 20%;
  animation-duration: 52s;
  animation-delay: -29s;
  transform-origin: 5vw -23vh;
  box-shadow: -40vmin 0 5.700211898459622vmin currentColor;
}
.background span:nth-child(11) {
  color: #a3a3a3;
  top: 26%;
  left: 68%;
  animation-duration: 34s;
  animation-delay: -38s;
  transform-origin: -6vw -10vh;
  box-shadow: 40vmin 0 5.551435428112641vmin currentColor;
}
.background span:nth-child(12) {
  color: #d9d9d9;
  top: 53%;
  left: 85%;
  animation-duration: 33s;
  animation-delay: -43s;
  transform-origin: -5vw -11vh;
  box-shadow: 40vmin 0 5.599374022445747vmin currentColor;
}
.background span:nth-child(13) {
  color: #383838;
  top: 35%;
  left: 5%;
  animation-duration: 34s;
  animation-delay: -5s;
  transform-origin: -11vw -8vh;
  box-shadow: 40vmin 0 5.8502905114123vmin currentColor;
}
.background span:nth-child(14) {
  color: #a3a3a3;
  top: 47%;
  left: 15%;
  animation-duration: 20s;
  animation-delay: -9s;
  transform-origin: 18vw -6vh;
  box-shadow: -40vmin 0 5.505892041337573vmin currentColor;
}
.background span:nth-child(15) {
  color: #d9d9d9;
  top: 11%;
  left: 69%;
  animation-duration: 31s;
  animation-delay: -27s;
  transform-origin: -17vw 17vh;
  box-shadow: 40vmin 0 5.368404821696471vmin currentColor;
}
.background span:nth-child(16) {
  color: #383838;
  top: 27%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -11s;
  transform-origin: -7vw 24vh;
  box-shadow: 40vmin 0 5.752323553359944vmin currentColor;
}
.background span:nth-child(17) {
  color: #383838;
  top: 10%;
  left: 79%;
  animation-duration: 27s;
  animation-delay: -16s;
  transform-origin: 16vw 4vh;
  box-shadow: -40vmin 0 5.6102702337151955vmin currentColor;
}
.background span:nth-child(18) {
  color: #d9d9d9;
  top: 18%;
  left: 32%;
  animation-duration: 31s;
  animation-delay: -44s;
  transform-origin: -5vw -7vh;
  box-shadow: 40vmin 0 5.005401520319119vmin currentColor;
}
.background span:nth-child(19) {
  color: #383838;
  top: 15%;
  left: 25%;
  animation-duration: 46s;
  animation-delay: -46s;
  transform-origin: -8vw -12vh;
  box-shadow: -40vmin 0 5.109348589245282vmin currentColor;
}
.background span:nth-child(20) {
  color: #d9d9d9;
  top: 81%;
  left: 20%;
  animation-duration: 48s;
  animation-delay: -43s;
  transform-origin: -1vw 14vh;
  box-shadow: -40vmin 0 5.332243670143422vmin currentColor;
}
.background span:nth-child(21) {
  color: #a3a3a3;
  top: 16%;
  left: 44%;
  animation-duration: 23s;
  animation-delay: -45s;
  transform-origin: -8vw -11vh;
  box-shadow: -40vmin 0 5.893463963583744vmin currentColor;
}
.background span:nth-child(22) {
  color: #d9d9d9;
  top: 83%;
  left: 57%;
  animation-duration: 9s;
  animation-delay: -30s;
  transform-origin: -19vw 24vh;
  box-shadow: -40vmin 0 5.994973910816109vmin currentColor;
}
.background span:nth-child(23) {
  color: #383838;
  top: 36%;
  left: 20%;
  animation-duration: 9s;
  animation-delay: -15s;
  transform-origin: -6vw -12vh;
  box-shadow: -40vmin 0 5.45382111294431vmin currentColor;
}
.background span:nth-child(24) {
  color: #d9d9d9;
  top: 34%;
  left: 75%;
  animation-duration: 17s;
  animation-delay: -18s;
  transform-origin: -16vw -6vh;
  box-shadow: 40vmin 0 5.862513623030063vmin currentColor;
}
.background span:nth-child(25) {
  color: #383838;
  top: 56%;
  left: 70%;
  animation-duration: 22s;
  animation-delay: -18s;
  transform-origin: -6vw -17vh;
  box-shadow: 40vmin 0 5.837639294197694vmin currentColor;
}
.background span:nth-child(26) {
  color: #d9d9d9;
  top: 14%;
  left: 17%;
  animation-duration: 8s;
  animation-delay: -15s;
  transform-origin: 14vw 12vh;
  box-shadow: 40vmin 0 5.676573970334847vmin currentColor;
}
.background span:nth-child(27) {
  color: #d9d9d9;
  top: 16%;
  left: 8%;
  animation-duration: 46s;
  animation-delay: -47s;
  transform-origin: 15vw -13vh;
  box-shadow: 40vmin 0 5.698006066129243vmin currentColor;
}
.background span:nth-child(28) {
  color: #383838;
  top: 44%;
  left: 35%;
  animation-duration: 9s;
  animation-delay: -23s;
  transform-origin: 1vw -24vh;
  box-shadow: 40vmin 0 5.139903739832734vmin currentColor;
}
.background span:nth-child(29) {
  color: #a3a3a3;
  top: 97%;
  left: 17%;
  animation-duration: 53s;
  animation-delay: -14s;
  transform-origin: 13vw 6vh;
  box-shadow: -40vmin 0 5.482333201746591vmin currentColor;
}
.background span:nth-child(30) {
  color: #383838;
  top: 39%;
  left: 19%;
  animation-duration: 23s;
  animation-delay: -9s;
  transform-origin: 5vw 17vh;
  box-shadow: 40vmin 0 5.526756257807866vmin currentColor;
}
.background span:nth-child(31) {
  color: #a3a3a3;
  top: 20%;
  left: 9%;
  animation-duration: 39s;
  animation-delay: -47s;
  transform-origin: 25vw 8vh;
  box-shadow: -40vmin 0 5.313895825823vmin currentColor;
}
.background span:nth-child(32) {
  color: #383838;
  top: 94%;
  left: 52%;
  animation-duration: 25s;
  animation-delay: -21s;
  transform-origin: -2vw 10vh;
  box-shadow: 40vmin 0 5.715643698730904vmin currentColor;
}
.background span:nth-child(33) {
  color: #383838;
  top: 6%;
  left: 95%;
  animation-duration: 25s;
  animation-delay: -30s;
  transform-origin: -13vw 11vh;
  box-shadow: 40vmin 0 5.820056719776757vmin currentColor;
}
.background span:nth-child(34) {
  color: #a3a3a3;
  top: 44%;
  left: 90%;
  animation-duration: 33s;
  animation-delay: -30s;
  transform-origin: -5vw 4vh;
  box-shadow: 40vmin 0 5.774027847466766vmin currentColor;
}
.background span:nth-child(35) {
  color: #383838;
  top: 6%;
  left: 58%;
  animation-duration: 42s;
  animation-delay: -18s;
  transform-origin: -22vw -13vh;
  box-shadow: -40vmin 0 5.067645567603966vmin currentColor;
}
.background span:nth-child(36) {
  color: #383838;
  top: 97%;
  left: 21%;
  animation-duration: 11s;
  animation-delay: -45s;
  transform-origin: -11vw 18vh;
  box-shadow: -40vmin 0 5.562521941812054vmin currentColor;
}
.background span:nth-child(37) {
  color: #383838;
  top: 72%;
  left: 77%;
  animation-duration: 19s;
  animation-delay: -5s;
  transform-origin: 21vw 9vh;
  box-shadow: -40vmin 0 5.980870693313422vmin currentColor;
}
.background span:nth-child(38) {
  color: #a3a3a3;
  top: 92%;
  left: 15%;
  animation-duration: 30s;
  animation-delay: -2s;
  transform-origin: -5vw -4vh;
  box-shadow: -40vmin 0 5.6114123586919815vmin currentColor;
}
.background span:nth-child(39) {
  color: #d9d9d9;
  top: 40%;
  left: 31%;
  animation-duration: 54s;
  animation-delay: -26s;
  transform-origin: -8vw -24vh;
  box-shadow: -40vmin 0 5.643731348343443vmin currentColor;
}
.background span:nth-child(40) {
  color: #d9d9d9;
  top: 46%;
  left: 90%;
  animation-duration: 11s;
  animation-delay: -48s;
  transform-origin: -9vw 25vh;
  box-shadow: -40vmin 0 5.303490160691427vmin currentColor;
}
.background span:nth-child(41) {
  color: #383838;
  top: 25%;
  left: 72%;
  animation-duration: 41s;
  animation-delay: -28s;
  transform-origin: 22vw -18vh;
  box-shadow: -40vmin 0 5.373132774604317vmin currentColor;
}
.background span:nth-child(42) {
  color: #d9d9d9;
  top: 1%;
  left: 22%;
  animation-duration: 48s;
  animation-delay: -28s;
  transform-origin: 18vw -14vh;
  box-shadow: -40vmin 0 5.958207740483802vmin currentColor;
}
.background span:nth-child(43) {
  color: #a3a3a3;
  top: 83%;
  left: 51%;
  animation-duration: 35s;
  animation-delay: -39s;
  transform-origin: 20vw 4vh;
  box-shadow: -40vmin 0 5.1019897966666985vmin currentColor;
}
.background span:nth-child(44) {
  color: #383838;
  top: 55%;
  left: 29%;
  animation-duration: 40s;
  animation-delay: -49s;
  transform-origin: -2vw -9vh;
  box-shadow: 40vmin 0 5.623642998082611vmin currentColor;
}
.background span:nth-child(45) {
  color: #383838;
  top: 57%;
  left: 50%;
  animation-duration: 53s;
  animation-delay: -42s;
  transform-origin: -2vw 3vh;
  box-shadow: -40vmin 0 5.217280246172389vmin currentColor;
}
.background span:nth-child(46) {
  color: #d9d9d9;
  top: 60%;
  left: 84%;
  animation-duration: 33s;
  animation-delay: -37s;
  transform-origin: 10vw 3vh;
  box-shadow: -40vmin 0 5.065314671631604vmin currentColor;
}
.background span:nth-child(47) {
  color: #d9d9d9;
  top: 41%;
  left: 70%;
  animation-duration: 42s;
  animation-delay: -3s;
  transform-origin: 3vw 15vh;
  box-shadow: -40vmin 0 5.3229210474518975vmin currentColor;
}
.background span:nth-child(48) {
  color: #a3a3a3;
  top: 67%;
  left: 34%;
  animation-duration: 32s;
  animation-delay: -4s;
  transform-origin: -2vw 18vh;
  box-shadow: 40vmin 0 5.2852588755894825vmin currentColor;
}
.background span:nth-child(49) {
  color: #a3a3a3;
  top: 59%;
  left: 34%;
  animation-duration: 30s;
  animation-delay: -46s;
  transform-origin: 15vw 10vh;
  box-shadow: 40vmin 0 5.358540193755413vmin currentColor;
}
