<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- include head.html -%}
<body>
    <div id="wrapper">
        <div class="content">    
            {%- include header.html -%}
    <div class="center incanvasObject content">
        {{ content }}
    </div>
    {%- include footer.html -%}
        </div>
        
        <div class="background">
            <video autoplay muted loop id="myVideo">
                <source src="/assets/vid/bg.mp4" type="video/mp4">
              </video>
         </div>
    </div>
    
</body>

</html>