<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- include head.html -%}
<body>
    <div id="wrapper">
        <div class="content">    
            {%- include header.html -%}
    <div class="center incanvasObject content">
        {{ content }}
    </div>
    {%- include footer.html -%}
        </div>
        
        <div id="bg" class="background">

         </div>
    </div>
    <script>
        var random = Math.floor(Math.random() * 7) + 1;
        console.log(random)
        document.getElementById("bg").style.backgroundImage = "url('/assets/img/background"+random+".svg')";
    </script>
</body>

</html>