---
layout: default
---
<div class="card" style="width:99%">
    <h2>{{page.title}}</h2>
    <img src="{{ page.img | relative_url }}" style="width: 50%; border-radius: 8px;" alt="default">
    {%- assign date_format = site.brutal.date_format | default: "%b %-d, %Y" -%}
    <p>{{ page.date | date: date_format }}</p>
</div>
<div class="card card-primary" style="width:99%">
    {{ content }}
</div>
<div>
    <div class="card card-primary" style="width:99%">
        
        {%- for categorie in page.categories -%}
            <a href="{{site.url}}/Categories.html#jump_{{categorie}}">{{categorie}}</a>
        {%- endfor -%}
    </div>
</div>
